.navbar-default,
.btn,
.form-control,
.panel {
  border-radius: 0;
}
.navbar-default {
  background-color: #330033;
  border-color: #330033;
  box-shadow: 0px 3px 3px 0px #330033;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #330033;
  border-bottom: 4px solid #330033;
}
.panel-default > .panel-heading {
  color: #330033;
  background-color: #330033;
  border-color: #330033;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-footer {
  background-color: #330033;
  border-color: #330033;
}
.panel {
  box-shadow: 0px 3px 3px 0px #330033;
}
a.navbar-brand,
.panel-title {
  font-weight: bolder;
}

.btn {
  background-color: #660066;
}
